*{
margin: 0px auto; 
}

#mainheading{
    text-align: center; 
    font-weight: lighter;
    font-size: 48px; 
}

hr{
    height: 2px; 
    background-color: black; 
    width: 1200px; 
}

#logopicture{
    width: 400px; 
    margin-left: 20px; 
}

.productcontainer{
    text-align: center; 
    margin-bottom: 2em; 
    margin-top: 1em; 
}

#products{
    font-family: sans-serif; 
    font-size: 30px; 
    text-align: center; 
}

#highlight{
    background-color: yellow;
}

#cart{
    font-family: sans-serif; 
    text-align: center; 
    bottom: 10px; 
    font-size: 30px;
}

#handmade{
    color: black;
    text-align: center; 
    font-family: sans-serif;  
    font-size: 36px; 
}

.card{
    width: 400px; 
    margin-bottom: 30px; 
    padding: 5px 5px 0px 5px;  
}

.cardimage{
    border: 4px; 
    border-color: black; 
    border-style: solid;
    width: 400px;
    height: 400px; 
    margin-bottom: 10px;    
}

.cardtext{
    font-family: sans-serif; 
    color: black; 
    font-size: 36px;  
}

a:link{
    text-decoration: none;
}

.cardprice {
    font-family: sans-serif;  
    font-size: 36px;
    color: black;  
}

.card:hover{
    background-color: yellow;
    padding: 0.5rem 1rem 0.5rem 0.5rem;  
    &:cardtext{
    font-weight:bold}; 
  }


.originalorder{
    text-align: center; 
}

#originalimageorder{
    border: 4px; 
    border-color: black; 
    border-style: solid;
    width: 600px;
    height: 600px; 
    margin-bottom: 10px; 
}

.customizecontainer{
    text-align: left;
    margin-left: 400px; 
    margin-right: 400px;
}

.customizetext{
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 10px; 
    
}

.optionslist{
    text-align: left; 
    margin-left: 400px; 
    margin-right: 400px;
}

#glazeoptions, #packsize{
    font-family: sans-serif;
    width: 23rem; 
    font-size: 30px; 
    height: 3.5rem;
    border: 4px solid black; 
}

#addtocart{
    margin-left: 3rem; 
}
    

.pricecart{
    margin-left: 400px; 
}

#pricecartdetail{
    font-size: 30px; 
    font-weight: bold;
    margin-left: 3rem; 
}

#addtocart{
    background-color: yellow;
    width: 12.25rem; 
    font-size: 30px;
    font-weight: bold; 
    height: 60px; 
    border: 4px solid black
}

#Packsize, #options{
    width: 11rem; 
    height: 1.5rem; 
}

.cartorder{
    width: 200px; 
    margin-bottom: 7px; 
    padding: 5px 5px 0px 5px; 
}

.cartimages{
    border: 4px; 
    border-color: black; 
    border-style: solid;
    width: 200px;
    height: 200px; 
    margin-bottom: 1px;    
}

.cartdescriptions{
    text-align: center;
}

.remove{
    text-align: center;
    font-weight: bold; 
    text-decoration: underline;

}

.cartinfo{
    font-family: sans-serif;
    font-size: 30px; 
    text-align: center; 
}

.cartbutton{
    text-align: center;
}

#checkout{
    background-color: yellow;
    width: 12.25rem; 
    font-size: 30px;
    font-weight: bold; 
    height: 60px; 
    border: 4px solid black
    
}