*{
margin: 0px auto; 
}

#mainheading{
    text-align: center; 
    font-weight: lighter;
    font-size: 48px; 
}

hr{
    height: 2px; 
    background-color: black; 
}

#logopicture{
    width: 400px; 
}

.productcontainer{
    text-align: center; 
    margin-bottom: 2em; 
    margin-top: 1em; 
}

#products{
    font-family: sans-serif; 
    font-size: 30px; 
    text-align: center; 
}

#highlight{
    background-color: yellow;
}

#cart{
    font-family: sans-serif; 
    text-align: center; 
    bottom: 10px; 
    font-size: 30px;
}

#handmade{
    color: black;
    text-align: center; 
    font-family: sans-serif;  
    font-size: 36px; 
}

.card{
    width: 400px; 
    margin-bottom: 30px; 
    padding: 5px 5px 0px 5px;  
}

.cardimage{
    border: 4px; 
    border-color: black; 
    border-style: solid;
    width: 400px;
    height: 400px; 
    margin-bottom: 10px;    
}

.cardtext{
    font-family: sans-serif; 
    color: black; 
    font-size: 36px;  
}

a:link{
    text-decoration: none;
}

.cardprice {
    font-family: sans-serif;  
    font-size: 36px;
    color: black;  
}

#original:hover{
    background-color: yellow;
    font-weight: bold; 

  
    
  }







#mainheading{
    text-align: center;


}

#logopicture{
    width: 400px;
    margin-left: 20px; 
}





#originalorder{
width: 1600px;

}

#originaltextorder, #optionslist, #optionslist2, #packsize, #individualpack, .pricecart{

    margin-left: 700px; 
    margin-right: 300px; 
    margin-bottom: 3px; 
    font-family: sans-serif;  
    
    
}


.originalimageorder{
border-style: solid; 
    border-color: black; 
    border-width: 5px; 
}


#pricec{
    margin-right: 1.5rem; 
    margin-left: 1rem; 
    font-weight: bold; 
    
   
}

#addtocart{
    background-color: yellow;
    width: 6rem; 
  
    

}

#Packsize, #options{
    width: 11rem; 
    height: 1.5rem; 

}

#cartoriginal{
    width: 1600px; 

}


#originaltext2{
    font-family: sans-serif;
    font-size: 10px;

}

.checkout{
    width: 1600px; 

}