#products{
    font-family: sans-serif; 
    font-size: 15px; 
   text-align: center; 

}
#hey{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 1600px; 
    flex-direction: row; 
}

#sup{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 1600px; 
    flex-direction: row; 
    margin-bottom: 1em; 
    margin-top: 1em; 
}

.yellow{
    background-color: yellow;
}


#original, #apple, .raisin, .walnut, .doublechoc, .strawberry {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 600px; 
    margin-right: 600px; 
    margin-bottom: 10px; 
    padding: 5 5 1 5px; 
    border: 1px;
   
   

    
    
}

.originalimage, .raisinimage, .appleimage, .walnutimage, .doublechocimage, .strawberryimage{
    border-style: solid; 
    border-color: black; 
    border-width: 5px; 
    
}

#originaltext, #raisintext, #appletext, #walnuttext, #doublechoctext, #strawberrytext{
    font-family: sans-serif; 
    text-align: left; 
    position: relative; 
    color: black; 
    margin-bottom: -13px;

}

#originalprice, #appleprice, #raisinprice, #walnutprice, #doublechocprice, #strawberryprice{
    font-family: sans-serif; 
    text-align: left; 
    position: relative; 
 
   
    
}

#original:hover{
    background-color: yellow;
  
    
  }



#cartbox{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 1600px; 
    flex-direction: row; 
}

#cart{
    font-family: sans-serif; 
    text-align: center; 
    position: relative; 
    bottom: 10px; 
}



#mainheading{
    text-align: center;


}

#logopicture{
    width: 400px;
    margin-left: 20px; 
}

hr{
    width: 1500px;
    font-weight: 10px; 
}



