body{
    background: #FCEADE;
}

#coffeeIcon{
    width: 30px; 
    height: 24px; 
}

.navbar-brand{
    flex: 1; 
    justify-content: right;
    font-size: 0.5 em; 
    background-color: #FCEADE;  
}

.container-fluid{
    background-color: #FCEADE;
    color: black; 
}

.navbar-nav{
    flex-direction: row; 
    color: red; 
    flex: 1; 
    justify-content: space-around;
}

.cardInfoMain{
    width: 45%; 
    background-color:#F298A5; 
    border-radius: 20px;
}

.cardPicHome{
    width: 45%; 
    border-radius: 20px;
}

.imageCaptionPlacement{
    position:relative;
}
.captionOnImage{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgb(224, 57, 57); 
    color: white; 
    z-index: 2; 
    border-radius: 20px;
    width: 30%; 
}

.infoCoffeeCards{
    margin-left: 5%; 
    margin-right: 5%; 
    height: 100%; 
}

#gameTitle {
    font-family: calibri;
    font-size: 80px;
    color: #b08f88;
    font-family: 'Abril Fatface', cursive;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

.shopDescription{
    background-color: rgb(150, 202, 150); 
    margin-left: 5%;
    margin-right: 5%; 
    border-radius: 20px; 
    padding: 3%; 
    color: black; 
}

.card-title{
    text-align: left; 
}

svg{
    height: 100%;
    width: 100%; 
}
 
#cup{
    width: 100%;
    height: 100%; 
} 

.locationCards{
    width: 45%; 
    background-color:#F298A5; 
    border-radius: 20px;
    margin: 1%; 
}








.cardForCoffee{
    width: 50%; 
    margin-right: 5%; 
    margin-left: 5%; 
} 



@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville&display=swap');


.heroimage {
  width:100vw;
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  background-image:url(https://img.freepik.com/free-vector/variety-cute-shapes-abstract-background_23-2148544989.jpg?t=st=1648518916~exp=1648519516~hmac=f749e8642a4e066c0d5f0be0e3225f1b34aa32949fac05adb6c7732e86b9fa74&w=826);
  background-size:cover;
  background-repeat: no-repeat;
}


  
  .heroimage {
    width:100vw;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background-image:url(https://img.freepik.com/free-vector/minimal-doodle-frame-background-social-story-highlight_53876-97970.jpg?size=626&ext=jpg);
    background-size:cover;
    background-repeat: no-repeat;
}